:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 45px;
    --titulos1: 30px;
    --parrafo: 25px;
    --espacios-contenido:45px;
  }

  .text{
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  nav{
    background: var(--color3);
    height: 80px;
    width: 100%;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
/*TERMINO NAV BAR */
  
  .textos{
    color:  rgb(219,144,.5);
    background-image: url(/img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: justify;
    padding: 15vh;
    
  }
  
  .textos>h1{font-size: var(--titulos);}
  
  .textos>h2{font-size: var(--titulos1); font-weight: 300;}
  
  .textos p{
    width: 80%;
    font-size: var(--parrafo);
    font-weight: 300;
  }
   
  /* Main */
  .contenedor{
    margin:100px auto;
    padding: var(--margenes) 0;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
  }
  
  .contenedor h3{
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
  }
  
  .contenedor p{
    font-size: var(--parrafo);
    font-weight: 300;
    color: var(--color1);
  
  }
  
  .after::after{
    content:'';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
  }
  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 
  }
  
  .content-card{
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height:400px;
  }
  
  .people{
    height: 80%;
  }
  
  .content-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-team{
    height: 100%;
    width: 100%;
    padding: var(--espacios) 0;
  }
  
  .about{
    background: url(img/teclado.jpg);
    height: auto;
  }
  
  .servicios{
    display: flex;
    color: var(--color1);
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
  }
  .caja-servicios{
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    margin: auto;
    text-align: center;
    background-color: var(--color3);
    
  }
  .caja-servicios>h4{
    margin-bottom: var(--espacios);
    font-size: var(--titulos1);
  }
  
  .caja-servicios>p{
    text-align: justify;
    margin: 15px 15px 15px 15px;
    font-size: var(--parrafo);
  }
  
  /*formulario de contacto*/
  *{
    font-family: sans-serif;
    font-size: 15px;
    color: var(--color1);
}
section h3{
    width: 600px;
    font-size: var(--titulos1);
    margin: 10px auto;
    text-align: center;
}

.contactos{
    width: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    background-color: var(--color3);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    
}*/


.contactos{
    border: 3px solid #1d2d31;
    border-radius: 12px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: var(--color1);
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
    
    
}
.contactos label{
    display: block;
    font-weight: bold;
}
.contactos div{
    margin-bottom: 15px;
}
.contactos input[type='text'], .contactos textarea{
    padding: 7px 6px ;
    width: 500px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 20px 10px 15px 30px;
    
}
.contactos input[type='text']:focus, .contactos textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contactos input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    
 
    background: #075372;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contactos input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contactos input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

  /* Footer */

.footer-contenedor{
  width: 100%;
  margin-top: 200px;
  justify-content: center;
}

.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}
.fab{
  font-size:60px;
  color: #FFF;
  margin-bottom: var(--espacios);
  display: inline-block;
}

footer p{
  margin-top: 100px;
  justify-content: center;
}

@media screen and (max-width: 1024px){
  .nav2{
    color: #fff;
  }

  .icono{
    display:block;
    cursor: pointer;
  }

  .enlaces{
    position: fixed;
    top:80px;
    background: #2c3e50;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #34495e;
    color:#fff;
  }

  .textos>h1{font-size: 70px;}
  .textos>h2{font-size:35px;}
  

  .content-card{
    width: 48%;
    margin-bottom:var(--margenes);
  }

  .caja-servicios{
    width: 48%;
    margin-bottom: var(--margenes);
  }
  :root{
    --margenes: 30px;
  }
}

@media screen and (max-width: 768px){
  :root{
    --espacios-contenido: 25px;
  }

  .content-card{
    width: 90%;
  }

  .caja-servicios{
    width: 90%;
    margin-bottom: var(--margenes);
  }
  .logo{
    width: 80%;
  }

  .iconos{
    margin: auto;
  }
}
  